<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new Stock Investment</title>
  </head>
  <body>
    <h1>Investment Folio Manager</h1>
    <h2>Add a new Stock Investment to your Portfolio</h2>

    <% if flash.has?(:message) %>
      <%= flash[:message] %>
      <br></br>
    <% end %>

    <form class="" action="/stock/new" method="post">
      <p>Name of the Stock*: <input type="text" name="name" value=""></p>
      <p>Current Price per Share*: $ <input type="decimal" name="price" value=""></p>
      <p>Number of Shares purchased*: <input type="integer" name="number" value=""></p>
      <input type="submit" name="submit" value="Add to My Portfolio">
    </form>
  </body>
</html>
