<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to your Investment Page</title>
  </head>
  <body>
    <h1>Investment Portfolio Manager</h1>
    <h2>Welcome to your Investments Page</h2>
    <h3>Add a new Investment</h3>
    <a href="/stock/new">Stocks</a>
    <a href="/property/new">Property</a>
    <a href="/fund/new">Retirement Funds</a>
    <a href="/product/new">Banking Products</a>
  </body>
</html>
