<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new Retirement Fund Investment</title>
  </head>
  <body>
    <h1>Investment Folio Manager</h1>
    <h2>Add a new Retirement Fund Investment to your Portfolio</h2>
    <form class="" action="/fund/new" method="post">
      <p>Company Name or Financial Management Firm: <input type="text" name="name" value=""></p>
      <p>Fund Type: <input type="radio" name="category" value="401k"> 401k <input type="radio" name="category" value="IRA"> IRA </p>
      <p>Fund Value: $ <input type="decimal" name="value" value=""></p>
      <input type="submit" name="submit" value="Add to My Portfolio">
    </form>
  </body>
</html>
