<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Investment Portfolio Manager</title>
  </head>
  <body>
    <h1>Welcome to Investment Portfolio Manager</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </body>
</html>
